*{
	margin: 0;
	background-color: #9e9e9e ;
}
.header{
	height: 8vh;
	background-color: #6c5336;

}
.content{
	height: 92vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
.slider{
	height: 80vh;
}
.block2{
	height: 40vw;
	background-color: #e0e0e0;
	padding-top: 3vw;
}
.block3{
	height: 40vw;
	background-color: #a1887f;
	padding-top: 3vw;
}
.blockimg{
	height: 34vw;
	width: 34vw;
	background-image: url(106815.jpg);
	float: left;
}
.footer{
	background-color: #3e2723;
	height: 10vw;
}